@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');
body {
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}
.page-wrapper , nav{
    background-color: #F8F9FA;
}
.nav-item {
    font-size: 12px;
}
h1, h2, h3 {
    font-family: 'Anton', sans-serif;
}
h1 {
    font-size: 60px;
}
h3{
    font-size: 30px;
}
/*line 22 - 49 --- realized that all the list item icons were the same colors, so we made class names for each color*/
.design-icon {
    background-color: #e6563b;
}
.develop-icon {
    background-color: #eb9d3a;
}
.support-icon {
    background-color: #7cb06c;
}
.host-icon {
    background-color: #00aba9;
}
/*header and main body icon styling*/
.icon ul li{
    font-family: 'Anton', sans-serif;
    color: white;
    border-radius: 100%;
    border: 5px solid white;
    width: 80px;
    height: 80px;
    line-height: 70px;
}
.main-icons ul li {
    font-family: 'Anton', sans-serif;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    font-size: 14px;
}
.card-img-top {
    border: 8px solid #E6E6E6;
    min-width: 350px;
    min-height: 250px;
}
.selected {
    padding: 3rem;
}
.last-imgs {
    height: 80px;
    width: 80px;
}
/*small screen*/
@media screen and (max-width: 699px){
    /*adjusted the container to be in the center because it was off when we displayed:none certain areas*/
    .logo , .last-section{
        display: none;
    }
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 50px;
    }
    h2 {
        font-size: 20px;
    }
    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    hr {
        display: none;
    }
    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
     .col-one {
        display: flex;
         flex-direction: column;
         align-items: center;
    }
    ul{
        display: flex;
        padding: 5px;
    }
    ul li .support-icon , ul li .host-icon {
        display: inline-block;

    }
    .selected {
        padding-top: 1rem;
    }
    button {
        display: flex;
        justify-content: end;
    }
}
/*medium screen*/
@media screen and (max-width:1050px){

    .last-section{
        display: none;
    }
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
/* LINE 54 Here is where we flexed the separated ul's to place them on top of each other on small screens*/
@media screen and (min-width: 700px) and (max-width: 1024px){
    .logo , .last-section{
        display: none;
    }
    .icon {
        display: flex;
        gap: 20px;
    }
}
/*this is where we align the header icons to be side by side insteadof on top of each other for medium to xl screens*/
@media screen and (min-width: 1025px){
    .icon {
        display: flex;
        gap: 20px;
    }
}

